body {
	margin:0px;
	background-repeat:no-repeat;
	background-size:100%;
}

.inner {
	right:1px;
	bottom:1px;
	border-radius:1px;
	font-family:"test";
	padding:2px;
}
#form fieldset {
	font-family:"test";
	font-weight:normal;
	color:#666666;
	border:1px solid #cccccc;
}
.formitem {
	padding:1px;
	font-family:"test";
	font-weight:normal;
	color:#666666;
	float:left;
}
.legenditem {
	float:left;
	margin:0 0 10px;
	padding:0px;
	width:100%;
}
.number {
	float:left;
	color:#FFF;
	margin:20px 5px 0 0;
	width:106px
}
.arrow {
	float:right;
	margin:0;
	padding:0;
}
.arrow a {
	float:left;
	background:url(images/downArrow.png) no-repeat left top;
	height:48px;
	width:48px;
}
.arrow a:hover {
	background:url(images/downArrow-hover.png) no-repeat left top;
}
.xyz {
	float: right;
	margin: 12px 140px 0 0;
	padding: 0;
	width: 618px;
	font:bold 42px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#F30;
}
/*Sign Up Div starts here*/
.signup-popup {
	width:340px;
	height:520px;
	margin:0 auto;
}
fieldset {
	border:none;
	padding:50% 0 0 0;
}
form.signup .textbox label {
	display:block;
	padding-bottom:7px;
}
form.signup .textbox span {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
form.signup p, form.signup span {
	color:#999;
	font-size:11px;
	line-height:18px;
}
form.signup .textbox input {
	background:#333;
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:293px;
}

