body{
margin:0px;
background-repeat:no-repeat;
background-size:100%;
background-image:url(images/bg.jpg);
}

html,body{
overflow:auto
}

/*#formPage{ height:600px;padding-top:100px; background-image:url(images/bg.jpg); background-position:center;}*/
#formPage{
padding:50px 0 0 0;
background-position:center;
}

.label{
color:#FFFFFF
}

#form{
margin-left:10px;margin-right:10px
}

#button{
padding:20px
}

.inner{
right:1px;
bottom:1px;
border-radius:1px;
font-family:"test";
padding:2px;
}

#form fieldset{
font-family:"test";
font-weight:normal;
color:#FFFFFF;
border:1px solid #cccccc;
}

.formitem{
padding:1px;
font-family:"test";
font-weight:normal;
color:#666666;
float:left;
}

.legenditem{
float:left;
margin:0 0 10px;
padding:0px;
width:100%;
}

.number{
float:left;
color:#FFF;
margin:20px 5px 0 0;
width:100px
}

.arrow{
float:right;
margin:0;
padding:0;
}

.arrow a {
float:left;
background:url(images/downArrow.png) no-repeat left top;
height:48px;
width:48px;
}

.arrow a:hover{
background:url(images/downArrow-hover.png) no-repeat left top;
}

.xyz{
float: right;
margin: 12px 140px 0 0;
padding: 0;
width: 618px;
font:bold 42px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#F30;
}

